/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/*.key
.env
.env copy
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Development & IDEs
.DS_Store
/.idea
/.vscode
/.fleet
/.nova
/.zed
Thumbs.db

# Build & Tooling
/public/build
/storage/pail
.phpactor.json
auth.json